*.o
*.so
v4l2capture
v4l2capture-client
jheader
*.jpg
*.png
m4/
aclocal.m4
Makefile
Makefile.in
configure
configure.log
config.log
autom4te.cache
src/.deps
src/.libs
config.guess
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
